# Dependency directories
node_modules/

# Logs
npm-debug.*

# Expo
.expo/
.expo-shared/

# dotenv environment variable file
.env
firebaseConfig.js

# macOS
.DS_Store

#
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
